{% extends 'base.html' %}
{% load grfilters %}
{% load static %}


{% block conteudo %}

    
    <div class="=col-8 m-auto pt-2 pb-2 text-center ">
        <h1> Detalhes </h1>
    </div>

    <div class="=col-8 m-auto pt-2 pb-2 text-center">
        <a href="{% url 'produto:cadastro' %}" class="btn btn-info">Voltar</a>
    </div>

    <div class="=col-8 m-auto pt-2 pb-2 text-center">
      <strong>Produto: </strong> {{db.nome}} <br>
      <strong>Valor: </strong> {{db.preco_marketing }} <br>
      <strong>Sobre: </strong> {{db.descricao_curta }} <br>
      <!--<strong>Quantidade: </strong> {{db.quantidade}} <br>-->
    </div>



{% endblock%}